.preview__header {
  background-color: #f2f2f2;
  border-top: 12px solid #01b04e;
}
.preview__header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.preview__header-avatar img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid #b7e9cd;
}

.preview__header-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.preview__header-name p {
  color: #01b04e;
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .preview__header-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preview__header-name p {
    color: #01b04e;
    font-size: 2rem;
    font-weight: 600;
  }
}

.preview__personal-info {
  background-color: #fbfbfb;
}

.preview__personal-info-section-header {
  font-size: 1rem;
  font-weight: 700;
  color: #01b04e;
}

.preview__body-headText {
  font-size: 1rem;
  font-weight: 700;
  color: #01b04e;
}

.preview__body-description {
  font-size: 1rem;
  line-height: 1.2rem;
}

.preview__body-skills-dots {
  display: flex;
  justify-content: flex-start;
}

.preview__body-skills-dot-active {
  color: white;
  border-radius: 50%;
  margin-right: 0.5em;
  border: 6px solid #01b04e;
}
.preview__body-skills-dot-inactive {
  color: white;
  border-radius: 50%;
  margin-right: 0.5em;
  border: 6px solid #eeeeee;
}

.preview__body-icon {
  background-color: #01b04e;
  border-radius: 50%;
  padding: 4px;
}
.preview__body-icon i {
  color: #fff;
}

.preview__body-date span {
  color: #9c9c9c;
}

.preview__body-subtitleText {
  color: #01b04e;
  font-weight: 300;
}
